@import "../layout/grid";
@import "../layout/navigation";
@import "../layout/footer";
@import "../components/btn";
@import "../components/composition";
@import "../components/feature-card";
@import "../components/flip-card";
@import "../components/story";
@import "../components/bg-video";
@import "../components/form";
@import "../components/modal";

// home page
$home__hero-gradient: linear-gradient(
  to right bottom,
  rgba($color-primary, 0.4),
  rgba($color-tertiary, 0.4),
  rgba($color-secondary, 0.4)
);
$home__color-header-bg-backdrop: rgba(0, 0, 0, 0.164);

.header {
  height: 100vh;
  position: relative;
  background-image: $home__hero-gradient, url(../assets/hero-small.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    height: 95vh;

    @include responsive("phone") {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }
  }

  @media (min-resolution: 192dpi) and (min-width: 37.5em),
    (-webkit-device-pixel-ratio: 2) and (min-width: 37.5em),
    (max-width: 125em) {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary, 0.4),
        rgba($color-secondary, 0.4)
      ),
      url(../assets/hero.jpg);
  }

  &__logo-container {
    position: absolute;
    top: 5%;
    left: 5%;
  }

  &__logo {
    height: 4rem;
  }

  &__content {
    position: absolute;
    text-align: center;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include responsive("tablet-portrait") {
      width: 70vw;
    }
    @include responsive("phone") {
      width: 90vw;
    }

    &-bg {
      padding: 20px;
      background-color: $home__color-header-bg-backdrop;
      border-radius: $border-radius;
      animation: expandY 0.4s;
      animation-fill-mode: backwards;
    }
  }

  .animate--up {
    animation: moveInBottom 2s ease-out 1.5s;
    animation-fill-mode: backwards;
  }
}

.grid {
  font-size: 2rem;
  text-align: center;
  margin-top: -3rem;

  &:focus,
  &:active {
    outline: none;
  }

  summary {
    opacity: 0.5;
    cursor: pointer;
    display: inline-block;
  }

  &[open] summary ~ * {
    animation: sweep 1s ease;
  }

  @include responsive("phone") {
    margin-top: -2rem;
    font-size: 1.5rem;
  }
}

section.about {
  background-color: $color-off-white;
  padding: 12rem 0;
  margin-top: -10rem;

  @include responsive("tablet-landscape") {
    .row {
      padding: 0 2rem;
    }
  }

  @include responsive("tablet-portrait") {
    padding: 12rem 0 15rem 0;

    .row {
      max-width: 80%;
    }
  }
}

section.features {
  height: 80rem;
  display: flex;
  align-items: center;
  background-image: $home__hero-gradient, url(../assets/nat-4-large.jpg);
  background-size: cover;
  margin-top: -5rem;

  transform: skewY(-4deg);
  & > * {
    transform: skewY(4deg);
  }

  @include responsive("tablet-landscape") {
    @media (max-resolution: 192dpi), (max-resolution: 1x) {
      background-image: $home__hero-gradient, url(../assets/nat-4-mid.jpg);
    }

    .row {
      padding: 0 2rem;
    }
  }

  @include responsive("tablet-portrait") {
    height: 110rem;
  }
}

section.tours {
  background-color: $color-off-white;
  padding: 12rem 0 5rem 0;
  margin-top: -10rem;

  @include responsive("tablet-landscape") {
    .row {
      padding: 0 2rem;
    }
  }

  @include responsive("phone") {
    .row {
      padding: 0;
      max-width: 70%;

      [class^="col-"] {
        margin-bottom: 4rem;
      }
    }
  }
}

section.stories {
  padding: 5rem 0 10rem 0;
  position: relative;

  @include responsive("tablet-portrait") {
    .row {
      max-width: 70%;
    }
  }

  @include responsive("phone") {
    .row {
      max-width: 85%;
    }
  }
}

section.booking {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary,
    $color-secondary
  );

  @mixin booking($width) {
    .booking__container {
      background-image: linear-gradient(
          100deg,
          rgba($color-white, 0.7) 0%,
          rgba($color-white, 0.7) $width,
          transparent $width
        ),
        url(../assets/nat-10.jpg);
    }

    .booking__form {
      width: $width;
    }
  }

  @include booking(50%);

  .booking__container {
    background-size: cover;
    border-radius: $border-radius;
    box-shadow: 0.4rem 1rem 2rem $color-shadow;
  }

  .booking__form {
    padding: 3rem 7rem;
  }

  @include responsive("tablet-landscape") {
    @include booking(70%);
  }

  @include responsive("tablet-portrait") {
    @include booking(80%);

    .row {
      max-width: 90%;
    }
  }

  @include responsive("phone") {
    @include booking(100%);
  }
}
