.story {
  width: 75%;
  padding: 4rem 4rem 4rem 6rem;
  margin: 0 auto;
  background-color: rgba($color-white, 0.6);
  border-radius: $border-radius;
  box-shadow: 0.2rem 0.5rem 0.5rem $color-shadow;
  font-size: $default-fs;
  transform: skewX(-5deg);

  @include responsive("tablet-portrait") {
    width: 100%;
  }

  @include responsive("phone") {
    transform: none;
  }

  &__fig {
    $fig-size: 15rem;

    background-color: $color-grey;
    width: $fig-size;
    height: $fig-size;
    float: left;
    clip-path: circle(50% at 50% 50%);
    shape-outside: circle(48% at 50% 50%);
    transform: translateX(-2rem) skewX(5deg);
    position: relative;

    @include responsive("phone") {
      transform: translateX(-2rem);
      width: min(20vw, $fig-size);
      height: min(20vw, $fig-size);
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transform: scale(1.2);
      transition: all 0.3s ease-in-out;
    }

    .story__caption {
      @include abs-center;
      color: $color-white;
      text-transform: uppercase;
      font-size: 1.6rem;
      text-align: center;
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__fig img {
    transform: scale(1);
    filter: blur(3px) brightness(0.8);
  }

  &__text {
    transform: skewX(5deg);
  }

  @include responsive("phone") {
    &__text {
      transform: none;
    }
  }
}
