.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  background-color: $color-off-white;

  &__vid {
    z-index: -1;
    opacity: 0.4;
    height: 100%;
    width: 100%;
    object-fit: cover;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  }
}
