.u-unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.u-text-center {
  text-align: center;
}

.u-my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.u-my-8 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.u-mt-4 {
  margin-top: 4rem;
}

.u-mt-8 {
  margin-top: 8rem;
}

.u-mt-10 {
  margin-top: 10rem;
}

.u-mx-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.u-mx-6 {
  margin-left: 6rem;
  margin-right: 6rem;
}

.u-mb-2 {
  margin-bottom: 2rem;
}

.u-mb-1 {
  margin-bottom: 1rem;
}
