.navigation {
  $placement-offset: 3rem;
  $size: min(6vw, 5rem);
  $phone-size: min(9vw, 6rem);

  &__checkbox {
    display: none;
  }

  &__btn {
    background-color: $color-white;
    height: $size;
    width: $size;
    border-radius: 50%;
    position: fixed;
    top: $placement-offset;
    right: $placement-offset;
    z-index: 6;
    box-shadow: 0.3rem 0.6rem 0.8rem $color-shadow;
    text-align: center;
    cursor: pointer;

    @include responsive("phone") {
      height: $phone-size;
      width: $phone-size;
    }
  }

  &__bg {
    height: $size;
    width: $size;
    border-radius: 50%;
    position: fixed;
    top: $placement-offset;
    right: $placement-offset;
    background-image: radial-gradient($color-black, rgba($color-tertiary, 0.9));
    z-index: 4;
    transition: all 0.7s cubic-bezier(0.85, 0, 0.15, 1);

    @include responsive("phone") {
      height: $phone-size;
      width: $phone-size;
    }
  }

  &__nav {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 0;
    transition: all 0.7s cubic-bezier(1, -0.5, 0, 1.5);
  }

  &__list {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 0 1rem;

      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;

      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 250%;
      transition: all 0.5s;
    }

    &:hover {
      background-position: 100%;
      color: $color-black;
      transform: translateX(1rem);
    }
  }

  // menu open/close
  &__checkbox:checked ~ .navigation__bg {
    $mv: max(100vw, 100vh);
    width: $mv;
    height: $mv;
    transform: translate(50vw, -50vh) scale(5);
  }

  &__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
  }

  // icon
  &__icon {
    position: relative;
    top: 50%;
    transition: background-color 0.15s ease-in-out;

    &,
    &:before,
    &:after {
      width: 2.2rem;
      height: 2px;
      background-color: $color-black;
      display: inline-block;
      transition: transform 0.2s ease-in-out;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
    }

    &:before {
      top: -0.6rem;
    }
    &:after {
      bottom: -0.6rem;
    }
  }

  &__btn:hover &__icon {
    background-color: $color-green;
  }

  &__btn:hover &__icon:before {
    transform: translateY(-0.2rem);
  }

  &__btn:hover &__icon:after {
    transform: translateY(0.2rem);
  }

  &__checkbox:checked ~ &__btn &__icon {
    background-color: transparent;
  }

  &__checkbox:checked ~ &__btn &__icon::before {
    top: 0;
    transform: rotate(135deg);
    background-color: $color-red;
  }

  &__checkbox:checked ~ &__btn &__icon::after {
    top: 0;
    transform: rotate(-135deg);
    background-color: $color-red;
  }
}
